project_id = "project_id"
region   = "us-east1"
location = "us-east1-b"


#GKE
gke_num_nodes = 2
machine_type  = "n1-standard-2"

#CloudSQL
instance_name     = "instance_name"
database_version  = "POSTGRES_15"
instance_tier     = "db-f1-micro"
disk_space        = 10
database_name     = "dbname"
db_username       = "dbuser"
db_password       = "dbpassword"


